* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #151515;  
    font-family: "Inter", sans-serif;
    color: #f0f0f0;
}

main {
    width: 100vw;  
    height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: none;  
    gap: 20px;
}

label{
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 7px 0;
    display: block;
    color: #7eb531;
}

.container {
    width: 375px;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #202020;
    padding: 24px;

    & section{
        margin: 15px 0 0 0;
    }
}

select, input{
    width: 100%;
    height: 48px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 14px 16px;
    border: none;
    appearance: none;
}

.logo-dev-money{
    display: block;
    width: 300px;
    margin: 0 auto;
}

.btn-convert{
    width: 100%;
    height: 48px;
    background-color: #7eb531;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 25px 0 0 0;
}

.convert-view{
    width: 100%;
    border-radius: 10px;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;

    & div {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: 5px;

        & p {
            font-size: 14px;
        }
    }
    
}

.valores{
    font-size: 18px;
    font-weight: 700;
}